<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>HOKY Immobilien</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='logo.png') }}?v=2">
</head>

<body>

<header class="navbar">
  <div class="logo">
    <span>HOKY</span>
    <small>IMMOBILIEN</small>
  </div>

  <nav>
    <a href="/" class="active">Home</a>
    <a href="/mehrÜberImmobilien">Immobilien-Infos</a>
    <a href="/datenschutz">Datenschutz</a>
    <a href="/kontakt">Kontakt</a>
  </nav>
</header>

<section class="hero">
  <div class="hero-content">
    <h1>Willkommen bei HOKY Immobilien</h1>
    <p>Berechnen Sie den geschätzten Immobilienpreis einfach und schnell.</p>
    <a href="/vorhersage#preisrechner" class="hero-button">Zur Preisvorhersage</a>
  </div>
</section>


<section class="page-section">
  <div class="card text-card">


    <p>
Mit unserem intelligenten Immobilienpreisrechner erhalten Sie innerhalb weniger Sekunden eine Schätzung des Marktwertes einer Immobilie. Geben Sie einfach die wichtigsten Eckdaten wie Wohnfläche, Anzahl der Zimmer und Lage ein, und unser System erstellt eine datenbasierte Preisprognose.    </p>

    <p>
Unser Ziel ist es, Eigentümern, Käufern und Interessenten eine schnelle und unkomplizierte Orientierung auf dem Immobilienmarkt zu bieten.    </p>

    <p>
Starten Sie jetzt Ihre Immobilienbewertung und entdecken Sie den geschätzten Wert Ihrer Immobilie.    </p>
  </div>
</section>


</body>
</html>